
@import "variables";
html {
      
    
   }

 
body {
    padding: 0;
    text-align: center;
    background-image: url("../images/rain.jpg");
   background-size: cover;
    .jumbotron {
        background: linear-gradient( $turquoiseLighter, $turquoiseDawn);
        text-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.3);

        label {
            color: $white;

            .inputText {
                color: darkslategrey;
            }
        }
    }

    .footer{
        border-top: 2px solid $turquoiseLighter;
    }

    .navbar {
        padding-left: 15px;
        padding-right: 15px;
        padding: $padding-large-vertical;
        background-color: rgba($brand-info,1);
      
    }

    .btn {
        font-size: 21px;
        padding: 14px 24px;
        margin-left: 90px;
    }
    
ul {

  list-style-type: none;
}

dl {

  border-radius: $border-radius-large;
}
}

//weather forcast styling
h1.forcast-title {
     color: $white;
}
dl.weather-forecast.ng-scope {
 background-color: rgba(68, 239, 26, 0.8);
  display: inline-block;
  width: 30%;
  margin-right: 20px;

}
