
@import "variables";
html {
      
    
   }

 
body {
  background: url("../images/rain.jpg") 0 0/cover;

 
  padding: 0;
  letter-spacing: 4pt;
  word-spacing: -2.6pt;
    .jumbotron{
        background: linear-gradient( $turquoiseLighter, $turquoiseDawn);
        text-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.3);
        text-align: center;
        h1, label {
            color: $white;

            .inputText {
                color: darkslategrey;
            }
           
        }
         .searchQ{
             color: $white;
             text-align: left;
               .lead {
                   text-align: center;
               }
               .btn.btn-lg.btn-primary {
                   margin-top: 40px;
               }
            }
    }

   
    .footer{
        border-top: 2px solid $turquoiseLighter;
    }

    .navbar {
         background: rgba($brand-info,1);
         padding-left: 15px;
         padding-right: 15px;
         padding: $padding-large-vertical;
      
    }
    .saved-cities-list {
        padding-left: 0px;
        
    }
h2{
        color: $white;
        font-weight: bolder;
        }
        

    .btn {
        font-size: 21px;
        padding: 14px 24px;
        margin-left: 0px;
       
    }
    
ul {

  list-style-type: none;
}

dl {

  border-radius: $border-radius-large;
}
}

h2 {
color: $white;
text-align: left;
}
li {
     color: black;
}
//weather forcast styling
h1.forcast-title {
     color: $white;
}
dl.weather-forecast.ng-scope {
 background-color: rgba(68, 239, 26, 0.8);
  display: inline-block;
  width: 30%;
  margin-right: 20px;

}
