

<div ng-app class="jumbotron">
    <h1 class="curentViewTitle">Current Weather for {{currentWeather.name}} , {{currentWeather.sys.country}}</h1>

    <dl class="currentView">
        <dt>Currently: {{currentWeather.weather[0].main}}</dt>
        <dd>
            <img ng-src='http://openweathermap.org/img/w/{{currentWeather.weather[0].icon}}.png' style="width:80px;">
        </dd>

      
    </dl>
        <dl class="currentDescripion"> 
            <dt>Current Weather - {{currentWeather.weather[0].description}}</dt>
            <dt>Temperature - {{currentWeather.main.temp}} &deg;F</dt>
            <dt>Wind - {{currentWeather.wind.speed}} mph @ {{currentWeather.wind.deg}} &deg;</dt>
            <dt>Cloud Coverage - {{currentWeather.clouds.all}}%</dt>     
            </dl>

        
</div>
    <p><a ng-href="#/forecast/{{cityID}}" class="btn btn-lg btn-primary">View 16-day Forecast</a></p>
    <p><button class="btn btn-sm btn-primary" ng-click="saveCity(currentWeather)">Save City</button></p>

<div class="message" ng-messages="citySaved">
    <p class="city-saved-alert	bg-success	text-success" ng-message="success"> {{currentWeather.name}} has been saved to your list of cities. </p>
    <p class="city-saved-alert	bg-warning	text-warning" ng-message="duplicate"> {{currentWeather.name}} has already been saved to your list of cities. </p>
</div>