 <div class="forecastContainer">
    <h1 class="forcast-title"> 16-day Forecast for {{forecastData.city.name}}, {{forecastData.city.country}}</h1>

    <dl ng-repeat="prediction in forecastData.list" class="weather-forecast">

        <dt>Forecast for </dt>
        <dt>{{prediction.dt*1000 | date:'MMM dd, yyyy'}}</dt>
        <dd>{{prediction.weather[0].main}}</dd>
        <dd><img ng-src='http://openweathermap.org/img/w/{{prediction.weather[0].icon}}.png' style="width:80px;"></dd>
        <dd>{{prediction.weather[0].description}}</dd>
        <dd>Temperature</dd>
        <dd>Low: {{prediction.temp.min}} &deg;F </dd>
        <dd>High: {{prediction.temp.max}} &deg;F</dd>
    </dl>

    <p><a ng-href="#/current/{{cityID}}" class="btn btn-lg btn-primary">Back to Current Weather</a></p>
</div>